doctype html
html
    head
        title Entrega Web Semántica
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block extraHeads
    body
        main
            block header
                header.header
                    h1 Entrega WESO
            block nav
                ul.navul
                    li.navli
                        a(href='/query1') Planetas
                    li.navli
                        a(href='/query2') Constelaciones
                    li.navli
                        a(href='/query3') Asteroides
                    li.navli
                        a(href='/query4') Astrónomos

            block content

            block footer
                footer.footer
                p Ramón Sobrino UO250817 - Ana Isabel Blanco UO227799
